/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */

.product-view .add-to-cart-buttons .button {
    width: auto !important;
}

.products-grid div.actions button {
    margin-left: 5px;
    margin-bottom: 5px;
}

.button, .cart-table .product-cart-actions .button, #co-shipping-method-form .buttons-set .button, .footer .button {
    min-width: 125px;
}

.checkout-toolbar button {
    width: 250px;
    margin-bottom: 5px;
}

ol.c2q {
    /* This is the main Tab Bar on the top */
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ededed;
    padding: 12px 12px 6px 12px;
    margin-bottom: 15px;
    *padding-bottom: 12px;
}

ol.c2q li.section {
    display: inline;
}

element.style {
    height: 90px;
}

.leightbox, .leightboxlink {
    background-color: #FFFFFF;
    border: 2px solid #B8B8B8;
    color: #0A263C;
    display: none;
    font: 9px Arial, sans-serif;
    left: 25%;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 25%;
    width: 450px;
    min-height: 200px;
    z-index: 10011;
}

.quote-forms {
    /*float: right;
    clear: right;
    width: 100%;
    min-width: 380px;*/
}

.quote-forms > div {
    background-color: #f4f4f4;
    border: 1px solid #cccccc;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.quote-forms .inline-checkbox {
    margin-top: 15px;
}

.qquote-client-collaterals table input,
.qquote-client-collaterals table select,
.qquote-client-collaterals .qquote-cart-collaterals table input,
.qquote-client-collaterals .qquote-cart-collaterals table select,
.qquote-client-collaterals textarea.input-text {
    width: 98%;
}

.qquote-client-collaterals h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
}

#quotelist {
    margin-bottom: 25px;
}

#quotelist #shopping-cart-table {
    width: 60%;
    clear: both;
    min-width: 380px;
    margin: 5px;
}

#quotelist #shopping-cart-table a {
    font-size: 13px;
}

#submit-quote-request {
    float: right;
    margin-top: 5px;
    clear: both;
}

#quotelist .button {
    margin: 0 5px 5px 0;
}

#qquoteadv-view-view body.customer-account .my-account .title-buttons a, #qquoteadv-view-view body.customer-account .my-account .title-buttons span.separator {
    position: relative;
    top: 0;
}

#shopping-cart-totals-table {
    clear: both;
}

#lightbox2 {
    background: white;
    width: 500px;
    min-height: 200px;
    padding: 20px;
    margin: 10% auto;
    border: 2px solid #ededed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#lightboxload {
    background: url("../images/ajax-loader.gif");
    width: 48px;
    height: 48px;
    margin: 100px auto;
}

#overlay, #overlaylink {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #333;
    filter: alpha(opacity=80);
    background-color: rgba(0, 0, 0, 0.75);
}

.lightbox[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

#overlay[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

.lightboxlink[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

#overlaylink[id] {
    /* IE6 and below Can't See This */
    position: fixed;
}

.qquoteadv-index-index .page-title {
    width: 100%;
    border-bottom: 1px solid #ededed;
    display: inline-block;
}

.qquoteadv-index-index .page-title h1 {
    float: left;
    border-bottom: none;
    margin-bottom: 6px;
    margin-right: 10px;
}

.qquoteadv-index-index .page-title .assigned-to {
    clear: both;
}

.qquote-client-collaterals {
    width: 100%;
    max-width: 600px;
    display: table-cell;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
}

.qquote-client-collaterals h2 {
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px;
}

#quotelist .page-title h1 {
    float: left;
    border-bottom: none;
    margin-bottom: 6px;
    margin-right: 10px;
}

#quotelist .page-title button,
#submit-quote-request button {
    float: right;
}

#submit-quote-request label {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
}

#submit-quote-request label,
.qquote-client-collaterals label {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.qquote-client-collaterals select {
    max-width: 100%;
    height: 30px;
    display: block;
    border: 1px solid silver;
}

.qty-div {
    width: 100%;
    min-width: 60px;
    max-width: 100px;
}

.qty-div a {
    text-decoration: none;
    width: 5%;
    position: absolute;
    margin-top: 5px;
}

#add-tier {
    clear: both;
    display: block;
}

.inline-checkbox input[type=checkbox] {
    float: left;
    width: auto;
    margin-right: 5px;
    margin-top: 3px;
}

.shipping-estimates {
    float: right;
}

.product-quote-image{
    padding-left: 0;
    padding-right: 0;
}

.product-quote-image img{
    max-width: 100%;
    width: 100%;
}

/* ============================================ *
 * Header - Quote
 * ============================================ */
/* -------------------------------------------- *
 * Skip Link - Quote
 */
.skip-quote:not(.skip-active):hover .icon {
    background-position: -50px 2px;
}

.skip-quote .icon {
    background-position: 0 2px;
}

/* -------------------------------------------- *
 * Skip Quote Notifier
 */
.header-miniquote .skip-quote .count {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    display: inline-block;
    top: -6px;
    position: relative;
    z-index: 5;
    width: 22px;
    height: 22px;
    background: rgba(51, 153, 204, 0.9);
    color: #FFFFFF;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

.header-miniquote .link.skip-active .count {
    color: white;
}

.header-miniquote .skip-quote.no-count .count {
    display: none;
}

@media only screen and (max-width: 499px) {
    .header-miniquote .skip-quote .count {
        margin-left: -12px;
    }
}

@media only screen and (min-width: 771px) {
    .header-miniquote .skip-quote {
        position: absolute;
        top: 0;
        right: 115px;
        width: auto;
        padding: 0 10px;
    }
    .header-miniquote .skip-quote {
        color: #3399cc;
        text-transform: uppercase;
    }

    #header-quote.skip-active {
        background: #FBFBFB;
        border: solid 1px #cccccc;
        position: absolute;
        z-index: 200;
        top: 40px;
        right: 0;
        width: 320px;
        background: white;
    }
    .header-miniquote .skip-quote:hover {
        text-decoration: none;
    }

    .header-miniquote .skip-quote .count {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        color: #3399cc;
        position: static;
        background: none;
        margin-left: 0;
        font-size: 14px;
    }

    .header-miniquote .skip-quote .count:before {
        content: '(';
    }

    .header-miniquote .skip-quote .count:after {
        content: ')';
    }
}

.header-miniquote .skip-quote .count.empty {
    display: none;
}
.block-content-inner .empty {
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 479px) {
    .header-miniquote a.skip-quote {
        z-index: 1;
    }
}

/* -------------------------------------------- *
 * Icons
 */
.header-miniquote .skip-quote .icon {
    background-image: url(../images/icon_sprite_c2q.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 4 / 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .header-miniquote .skip-quote .icon {
        background-image: url(../images/icon_sprite_c2q2x.png);
        /* background-size: 100px 1000px; */
        background-size: 85.5px 27px;
    }
}

.link {
    position: relative;
    float: left;
    width: 20%;
    height: 44px;
    background: #FFFFFF;
    color: #636363;
    line-height: 42px;
    text-align: center;
}

a.link {
    text-decoration: none;
}

.link .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.link:not(.skip-active):hover {
    opacity: 0.8;
}

@media only screen and (max-width: 770px) {

    .skip-links .skip-link .label, .top-right-links .link .label {
        display: none;
    }

    .skip-links .skip-link, .skip-links .link {
        width: 20%;
        border-right: 1px solid #EDEDED;
    }

    .header-miniquote > .skip-link {
        border-right: 1px solid #EDEDED !important;
    }
}

@media only screen and (min-width: 500px) {
    .link {
        width: 25%;
    }
}

/* -------------------------------------------- *
 * Skip Link - Active
 */
@media only screen and (max-width: 770px) {
    .link.skip-active {
        background: #EDEDED;
        color: inherit;
    }

    .link.skip-active span {
        color: inherit;
    }
}

/* -------------------------------------------- *
 * Skip Link - Icon
 */
.link.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.link.skip-quote:not(.no-count) .icon {
    margin-right: 3px;
}

@media only screen and (min-width: 500px) {
    .link.icon {
        margin-right: 3px;
    }
}

/* -------------------------------------------- *
 * Skip Link - Label
 */
.link.label {
    display: none;
}

@media only screen and (min-width: 500px) {
    .link.label {
        display: inline;
    }
}

@media only screen and (min-width: 770px) {
    .top-right-links {
        top: 0;
        right: 0;
        position: absolute;
        width: auto;
        display: inline-block;
    }

    .top-right-links .skip-account, .top-right-links .header-miniquote, .top-right-links .header-minicart {
        position: relative;
        float: left;
    }

    .top-right-links .skip-link, .top-right-links .link {
        position: relative;
        top: 0;
        right: 0;
    }
}

@media only screen and (max-width: 1024px) {
    #quotelist #shopping-cart-table.data-table.cart-table {
        display: block;
        width: 100%;
        float: none;
    }
    #quotelist #shopping-cart-table.data-table.cart-table tr {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td {
        width: auto;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(1),
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(2),
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(3) {
        width: 25%;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(4),
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(5){
        width: 10%;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(6) {
        width: 5%;
    }
    .qquote-client-collaterals {
        padding-top: 10px;
        display: block;
        max-width: 100%;
    }
    .qquote-client-collaterals>.quote-forms,
    .qquote-client-collaterals .qquote-cart-collaterals {
        width: 50%;
        float: left;
    }
    .qquote-client-collaterals #submit-quote-request {
        margin-top: 0;
    }
}

@media only screen and (max-width: 700px) {
    .qquote-client-collaterals>.quote-forms,
    .qquote-client-collaterals .qquote-cart-collaterals {
        width: 100%;
        float: none;
    }
}


@media only screen and (max-width: 600px) {

    #quotelist #shopping-cart-table.data-table.cart-table tfoot,
    .checkout-toolbar {
        display: none;
    }

    #quotelist #shopping-cart-table.data-table.cart-table tr {
        position: relative;
        width: 500px;
        padding-bottom: 25px;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(1) {
        position: absolute;
        left: 0;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(2),
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(3){
        padding-left: 200px;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(4) {
        position: absolute;
        top: 0; right: 50px;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(5) {
         position: absolute;
         top: 25px; right: 65px;
     }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(6) {
        position: absolute;
        top: 0;
        right: 14px;
    }
}

@media only screen and (max-width: 550px) {
    #quotelist #shopping-cart-table.data-table.cart-table tr { width: 450px; }
}

@media only screen and (max-width: 500px) {
    #quotelist #shopping-cart-table.data-table.cart-table tr { width: 300px; }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(1) {

    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(2){
        padding-left: 80px;
    }
    #quotelist #shopping-cart-table.data-table.cart-table td:nth-child(3){
        padding-left: 0;
        padding-top: 23px;
    }
}

.shipping-estimates #shipEstimates {
    margin: 5px 5px 5px 0;
}

#addressCheckbox {
    margin-bottom: 40px;
}

#qquote-tbl-address {
    width: 100%;
    border: 0;
}

#billing-new-address-form {
    margin-top: 15px;
}

#quotelist .data-table {
    width: 100%;
}

.qquoteadv-view-view .order-info-box .box-title {
    width: 200px;
}

/* -------------------------------------------- *
 *   Mini Quote
 * -------------------------------------------- */

#header-quote .block-subtitle {
    color: #50a4CF;
    font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
    clear: both;
    position: relative;
}

#header-quote .block-subtitle .close {
    width: 40px;
    display: block;
    color: #636363;
    font-weight: normal;
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    top: -8px;
    right: -8px;
}

#header-quote ol.mini-products-list {
    padding: 20px;
}

#header-quote ol.mini-products-list {
    padding: 20px;
}

#header-quote ol.mini-products-list .item {
    position: relative;
}

#header-quote ol.mini-products-list .item .product-name {
    font-size: 13px;
}

#header-quote ol.mini-products-list .item .product-name a {
    color: #3399cc;
    font-weight: bold;
}

#header-quote ol.mini-products-list .item .product-image {
    position: absolute;
    left: 0;
}

#header-quote ol.mini-products-list .item .product-image img {
    width: 50px;
    height: 50px;
}

#header-quote ol.mini-products-list .item .button.btn-update {
    background: none;
    color: #50a4CF;
    text-transform: none;
    padding: 5px;
    text-align: left;
}

#header-quote ol.mini-products-list .item .cart-price,
#header-quote ol.mini-products-list .item .btn-remove.btn-remove2:last-child,
#header-quote ol.mini-products-list .item .cart-links {
    display: none;
}

#header-quote .quote-btn-box button {
    float: none;
    display: block;
    margin: auto;
}

#header-quote .quote-btn-box {
    text-align: center;
    width: 100%;
}

#header-quote .cart-link {
    display: block;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;

}

#header-quote .block-content-inner:before, #header-quote .block-content-inner:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#header-quote .block-content-inner:before {
    background-color: white;
    opacity: 0.8;
    z-index: 2;
}
#header-quote .block-content-inner:after {
    background-image: url("../images/opc-ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
#header-quote .block-content-inner.loading {
    position: relative;
}
#header-quote .block-content-inner.loading:before, #header-quote .block-content-inner.loading:after {
    display: block;
}
#header-quote #miniquote-error-message {
    text-align: center;
    color: red;
    display: none;
}
#header-quote #miniquote-success-message {
    text-align: center;
    color: green;
    display: none;
}
#header-quote .info-wrapper {
    margin-bottom: 0.5em;
}
#header-quote .info-wrapper th {
    text-transform: uppercase;
    padding-right: 10px;
}
#header-quote .info-wrapper td {
    color: #3399cc;
    clear: right;
}
#header-quote .info-wrapper .qty-wrapper td {
    height: 33px;
    line-height: 33px;
}
#header-quote .info-wrapper .qty {
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
    width: 3.2em;
    text-align: center;
    height: 30px;
}

#header-quote .info-wrapper .qquantity-button {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 100ms;
    -moz-transition-duration: 100ms;
    -o-transition-duration: 100ms;
    transition-duration: 100ms;
}
#header-quote .info-wrapper .qquantity-button[disabled] {
    cursor: default;
}
#header-quote .info-wrapper .qquantity-button.visible {
    opacity: 1;
}
@media only screen and (max-width: 479px) {
    #header-quote a.skip-quote {
        z-index: 1;
    }
}
