<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 *
 *
 * This is the template file of the form fields.
 * The file is rendered two times:
 *      1. Shipping details
 *      2. Billing details
 * The form_type variable will contain 'shipping' or 'billing'. The fields will contain the ID referring to this form type.
 *
 * @block Ophirah_Qquoteadv_Block_Form_Address
 */

$parent = $this->getParentBlock();
$formType = $this->getFormType();
?>
<!-- ADDRESS START -->
<div id="<?php echo $this->getMainDiv() ?>" style="<?php //echo $this->getMainDivAllowToShow() ?>">
    <!-- ADDRESS DETAILS START -->
    <h4><?php echo $this->__(ucfirst($formType) . ' details') ?></h4>
    <p><?php echo $this->__($this->getAddressDescription()) ?></p>
    <!-- ADDRESS DETAILS END   -->

    <p>
        <?php if($parent->isCustomerLoggedIn()):?>
        <!-- ADDRESS DROP DOWN START -->
        <b><?php echo Mage::helper('sales')->__('Select an address') ?></b>
        <?php echo $this->getFieldRequiredSpan($this->getRequiredAddress()); ?>
        <p><?php echo $this->getListOfAddresses(); ?></p>
    <!-- ADDRESS DROP DOWN END   -->
    <?php endif; ?>
    </p>

    <!-- ADDRESS INPUT FORM START  -->
    <table style="display:none;"
           id="qquote-tbl-<?php echo $formType; ?>"
           cellspacing='3'
           cellpadding='3'
           border="0"
           width="100%">
        <tr>
            <td class="left">
                <?php echo Mage::helper('sales')->__('First Name') ?>
                <?php echo $this->getFieldRequiredSpan(true); ?>
                <br/>
                <input type='text'
                       value="<?php echo $parent->getValue('firstname', $formType); ?>"
                       name='<?php echo $this->getAddedFieldName(); ?>[firstname]'
                       id='<?php echo $this->getAddedFieldName(); ?>:firstname'
                       class="<?php echo $this->getFieldRequiredClass(true); ?> input-text"/>
            </td>
            <td class="p5">
                <?php echo Mage::helper('sales')->__('Last Name') ?>
                <?php echo $this->getFieldRequiredSpan(true); ?>
                <br/>
                <input type='text'
                       value="<?php echo $parent->getValue('lastname', $formType); ?>"
                       name='<?php echo $this->getAddedFieldName(); ?>[lastname]'
                       id='<?php echo $this->getAddedFieldName(); ?>:lastname'
                       class="<?php echo $this->getFieldRequiredClass(true); ?> input-text"/>
            </td>
        </tr>
        <tr>
            <td class="left">
                <?php if($parent->getPhoneSettings() != 0): ?>
                    <?php echo Mage::helper('sales')->__('Telephone'); ?>
                    <?php echo $this->getFieldRequiredSpan($parent->getPhoneSettings()); ?>
                    <br/>
                    <input type='text'
                           value="<?php echo $parent->getValue('telephone', $formType) ?>"
                           name='<?php echo $this->getAddedFieldName(); ?>[telephone]'
                           id='<?php echo $this->getAddedFieldName(); ?>:telephone'
                           class="<?php echo $this->getFieldRequiredClass($parent->getPhoneSettings()); ?> input-text"/>
                <?php endif; ?>
            </td>
            <td class="p5">
                <?php
                if($parent->getCompanySettings() != 0): ?>
                    <?php echo Mage::helper('sales')->__('Company'); ?>
                    <?php echo $this->getFieldRequiredSpan($parent->getCompanySettings()); ?>
                    <br/>
                    <input type='text'
                           value="<?php echo $parent->getValue('company', $formType) ?>"
                           name='<?php echo $this->getAddedFieldName(); ?>[company]'
                           id='<?php echo $this->getAddedFieldName(); ?>:company'
                           class="<?php echo $this->getFieldRequiredClass($parent->getCompanySettings()); ?> input-text"/>
                <?php endif; ?>
            </td>
        </tr>
        <tr>
            <td class="left">
                <?php if($parent->getVatTaxSettings() != 0): ?>
                    <?php echo Mage::helper('customer')->__('VAT Number'); ?>
                    <?php echo $this->getFieldRequiredSpan($parent->getVatTaxSettings()); ?>
                    <br/>
                    <input type='text'
                           value="<?php echo $parent->getValue('vat_id', 'billing') ?>"
                           name='<?php echo $this->getAddedFieldName(); ?>[vat_id]'
                           id='<?php echo $this->getAddedFieldName(); ?>:vat_id'
                           class="<?php echo $this->getFieldRequiredClass($parent->getVatTaxSettings()); ?> input-text"/>
                <?php endif; ?>
            </td>
            <td class="p5">
            </td>
        </tr>
        <tr>
            <td class="left">
                <?php echo Mage::helper('sales')->__('Address') ?>
                <?php echo $this->getFieldRequiredSpan(true); ?>
                <br/>
                <input onfocus="Element.setStyle(this, {color:'#2F2F2F'});"
                       type='text'
                       value="<?php echo $parent->getValue('street', $formType); ?>"
                       name='<?php echo $this->getAddedFieldName(); ?>[street]'
                       id='<?php echo $this->getAddedFieldName(); ?>:street'
                       class="<?php echo $this->getFieldRequiredClass(true); ?> input-text"/>
            </td>
            <td class="p5">
                <?php echo Mage::helper('sales')->__('Country') ?>
                <?php echo $this->getFieldRequiredSpan(true); ?>
                <br/>
                <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect(
                    $parent->getValue('country_id', $formType),
                    $this->getAddedFieldName().'[country_id]',
                    $this->getAddedFieldName() . ':country',
                    Mage::helper('sales')->__('Country'));
                ?>
            </td>
        </tr>
        <tr>
            <td class="left">
                <?php echo Mage::helper('sales')->__('Zip/Postal Code') ?>
                <?php echo $this->getFieldRequiredSpan(true); ?>
                <br/>
                <input onfocus="Element.setStyle(this, {color:'#2F2F2F'});"
                       type='text'
                       value="<?php echo $parent->getValue('postcode', $formType); ?>"
                       name='<?php echo $this->getAddedFieldName(); ?>[postcode]'
                       id='<?php echo $this->getAddedFieldName(); ?>:postcode'
                       class="<?php echo $this->getFieldRequiredClass(true); ?> input-text w224"/>
            </td>
            <td class="p5">
                <?php if ($parent->getStateSettings() > 0) { ?>
                    <?php echo Mage::helper('sales')->__('State/Province'); ?>
                    <?php $this->getFieldRequiredSpan($this->getStateSettings()) ?>
                    <br/>
                    <select name='<?php echo $this->getAddedFieldName(); ?>[region_id]'
                            id='<?php echo $this->getAddedFieldName(); ?>:region_id'
                            title="<?php echo Mage::helper('sales')->__('State/Province') ?>"
                            class="<?php echo $this->getFieldRequiredClass($this->getStateSettings()) ?> validate-select w224"
                            style="display:none;">
                        <option value=""><?php echo $parent->getValue('region_id', $formType); ?></option>
                    </select>
                    <input onfocus="Element.setStyle(this, {color:'#2F2F2F'});" type="text"
                           name='<?php echo $this->getAddedFieldName(); ?>[region]'
                           id='<?php echo $this->getAddedFieldName(); ?>:region'
                           value="<?php echo $parent->getValue('region', $formType); ?>"
                           title="<?php echo Mage::helper('sales')->__('State/Province') ?>"
                           class="<?php echo $this->getFieldRequiredClass($this->getStateSettings()) ?>  input-text w224"
                           style="display:none;"/>
                <?php } else { ?>
                    <input name='<?php echo $this->getAddedFieldName(); ?>[region_id]' id='region_id'
                           title="<?php echo Mage::helper('sales')->__('State/Province') ?>" type="hidden"/>
                <?php } ?>
            </td>
        </tr>
        <tr>
            <td class="left">
                <?php echo Mage::helper('sales')->__('City') ?>
                <?php echo $this->getFieldRequiredSpan(true); ?>
                <br/>
                <input onfocus="Element.setStyle(this, {color:'#2F2F2F'});"
                       type='text'
                       value="<?php echo $parent->getValue('city', $formType); ?>"
                       name='<?php echo $this->getAddedFieldName(); ?>[city]'
                       id='<?php echo $this->getAddedFieldName(); ?>:city'
                       class="required-entry input-text w224"/>
            </td>
        </tr>
    </table>
    <br/>
    <!-- END ADDRESS INPUT FORM -->
    <!-- EXTRA SHIPPING INFORMATION START -->
    <?php
    echo $this->getChildHtml('qquote.shipping.request');
    echo $this->getChildHtml('qquote.shipping.list');
    ?>
    <!-- EXTRA SHIPPING INFORMATION END -->
</div>
<!-- ADDRESS END -->

<?php if ($parent->getStateSettings() > 0) { ?>
    <script>
        new RegionUpdater('<?php echo $this->getAddedFieldName(); ?>:country', '<?php echo $this->getAddedFieldName(); ?>:region', '<?php echo $this->getAddedFieldName(); ?>:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
        $('<?php echo $this->getAddedFieldName(); ?>:region_id').addClassName('w224');
    </script>
<?php } ?>

