<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php
$parent = $this->getParentBlock();
$customer = $this->getCustomer();
$email = $customer->getEmail() ? $customer->getEmail() : $parent->getCustomerEmail()
?>
<!-- HEADER -->
<h4>
    <?php echo Mage::helper('qquoteadv')->__('Remarks') ?>
</h4>
<!-- END HEADER -->

<!-- QUOTE REFERENCE -->
<?php if($this->getAllowQuoteReference()):?>
    <?php echo $this->__('Quote reference') ?>
    <?php echo $this->getFieldRequiredSpan($this->getQuoteReference()); ?>
    <br/>
    <input name="customer[quote_reference]" id="customer:quote_reference" cols="10" rows="5" style="width:95%;" class="input-text <?php $this->getFieldRequiredClass($this->getQuoteReference()) ?>"value="<?php echo $customer->getData('quote_reference'); ?>"/>
    <br/>
<?php endif;?>
<!-- END QUOTE REFERENCE -->

<!-- START REMARK -->
<?php echo $this->__('Do you have a general remark with your quote request?') ?>
<br/>
<?php if($this->getAllowedGlobalRemarkField()): ?>
<textarea name="customer[client_request]" id="customer:client_request" cols="10" rows="5" style="width:95%;"class="input-text">
<?php echo $customer->getData('client_request'); ?>
</textarea>

<?php endif; ?>
<!-- END REMARK -->

<?php if ($parent->isCustomerLoggedIn() && !empty($billingEmail)): ?>
<div id="billing-new-address-form" style="display:none;">
    <?php else: ?>
    <div class="input-box">
        <?php endif; ?>
        <div id="accountDiv">

            <table id="qquote-tbl-address" cellspacing='6' cellpadding='3' border="0" width="100%">
                <tr>
                    <!-- START EMAIL -->
                    <td class="fullWidth">
                        <?php echo Mage::helper('sales')->__('Email Address') ?> <span class="required"></span><br/>
                        <input <?php if (!empty($email)): ?>readonly<?php endif; ?> type='text'
                               value="<?php echo $email; ?>"
                               name='customer[email]' id='customer:email'
                               class="disabled validate-email required-entry input-text"/><span id="please-wait"
                                                                                       style="display:none;"><img
                                alt="<?php echo $parent->__('Checking..') ?>"
                                src="<?php echo $parent->getSkinUrl('images/ajax-loader.gif') ?>"/></span>

                        <div style="display:none;" id="email_message">&nbsp;</div>
                    </td>
                    <!-- END EMAIL -->
                    <td class="p5">
                    </td>
                </tr>
                <!-- START EXTRA FIELDS -->
                <?php echo $parent->getChildHtml('qquote.extrafields'); ?>
                <!-- END EXTRA FIELDS -->
            </table>
        </div>
        <!-- START NEWSLETTER -->
        <?php if (Mage::getStoreConfig('qquoteadv_quote_form_builder/options/newsletter_subscribe')): ?>
            <div>
                <input id="chkNews" type="checkbox"
                       name="newsletter"> <?php echo Mage::helper('newsletter')->__('Sign up for our newsletter'); ?>
            </div>
        <?php endif; ?>
        <!-- END NEWSLETTER -->
    </div>