<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */

$extraFieldsCount = Mage::helper('qquoteadv')->getNumberOfExtraFields();
    if($this->extraFieldsAreAvailable()) {
        for($fieldNumber = 1; $fieldNumber <= $extraFieldsCount; $fieldNumber++) {
            if($this->isExtraFieldSet($fieldNumber)) {
                echo $this->getRowStart($fieldNumber);
                ?>
                <td class="<?php echo $this->getRowClass($fieldNumber); ?>">
                    <label>
                        <?php
                        echo $this->getFieldLabel($fieldNumber);
                        if ($this->isRequiredField($fieldNumber)) {
                            echo '<span class="required"></span>';
                        }
                        ?>
                        <br/>
                    </label>
                    <input type='text'
                           name='customer[extra_field_<?php echo $fieldNumber; ?>]'
                           id='customer:extra_field_<?php echo $fieldNumber; ?>'
                           class="
                       <?php
                           if ($this->isRequiredField($fieldNumber)) {
                               echo "required-entry";
                           }
                           ?>
                       input-text"/>
                </td>
                <?php
                echo $this->getRowEnd($fieldNumber);
            }
        }
    }
?>