<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<input type='hidden' id='customer_isQuote' name='customer[is_quote]' value='1'/>
<input style="display:none;" type='submit' name='submitOrder' id="submitOrder" class='form-button'
       value="<?php echo $this->__('Request quote') ?>"/>

<button onclick="$('submitOrder').click(); event.preventDefault();  event.stopPropagation();"
        class="button btn-proceed-checkout btn-checkout"
        title="<?php echo $this->__('Request quote') ?>" type="button">
    <span><span><?php echo $this->__('Request quote') ?></span></span>
</button>