<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */

/**
 *  Cart2Quote
 *
 *  Template File Totals
 */
?>
<table id="shopping-cart-totals-table">
    <col/>
    <col width="1"/>
    <tfoot>
    <?php
    foreach ($this->_totals as $total):
        if ($total->getCode() != 'base_grandtotal' && $total->getArea() == 'footer'):
            ?>

            <tr>
                <th colspan="<?php echo $total->getColspan(); ?>" style="<?php echo $total->getStyle() ?>"
                    class="a-right">
                    <?php if ($total->getStrong()): ?><strong><?php endif; ?>
                        <?php echo $total->getLabel(); ?>
                        <?php if ($total->getStrong()): ?></strong><?php endif; ?>
                </th>
                <td style="<?php echo $total->getStyle() ?>" class="a-right">
                    <?php if ($total->getStrong()): ?><strong><?php endif; ?>
                        <?php echo $this->formatValue($total); ?>
                        <?php if ($total->getStrong()): ?></strong><?php endif; ?>
                </td>
            </tr>
        <?php endif;
    endforeach;
    ?>
    </tfoot>
    <tbody>
    <?php foreach ($this->_totals as $total):
        if ($total->getCode() != 'base_grandtotal' && $total->getArea() == 'body'):
            ?>

            <tr>
                <th colspan="<?php echo $total->getColspan(); ?>" style="<?php echo $total->getStyle() ?>"
                    class="a-right">
                    <?php if ($total->getStrong()): ?><strong><?php endif; ?>
                        <?php echo $total->getLabel(); ?>
                        <?php if ($total->getStrong()): ?></strong><?php endif; ?>
                </th>
                <td style="<?php echo $total->getStyle() ?>" class="a-right">
                    <?php if ($total->getStrong()): ?><strong><?php endif; ?>
                        <?php echo $this->formatValue($total); ?>
                        <?php if ($total->getStrong()): ?></strong><?php endif; ?>
                </td>
            </tr>
        <?php endif;
    endforeach;
    ?>
    </tbody>
</table>

