<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php $product = $this->getData('product'); ?>
<?php $errors = $this->getData('errors'); ?>

<h1><?php echo $product->name; ?></h1>
<img src="<?php echo Mage::helper('catalog/image')->init($product, 'image')->resize(150) ?>"/>

<div style="clear:both;"/><br/>
<button type="button" onclick="cancelMsg();"
        title="<?php echo Mage::helper('customer')->__('Continue Shopping'); ?>" class="button btn-cart">
    <span><span><?php echo Mage::helper('customer')->__('Continue Shopping'); ?></span></span></button>
<button type="button" onclick="document.location.href='<?php echo Mage::getUrl('qquoteadv/index'); ?>'"
        title="<?php echo Mage::helper('qquoteadv')->__('View Quote'); ?>" class="button btn-cart">
    <span><span><?php echo Mage::helper('qquoteadv')->__('View Quote'); ?></span></span></button>


