<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<ul class="messages">
    <li class="error-msg">
        <ul>
            <li>
                <span><?php echo Mage::helper('qquoteadv')->__('Please specify product quantity.')?></span>
            </li>
        </ul>
    </li>
</ul>

<div style="clear:both;">
    <br>
    <button type="button" onclick="cancelMsg();" title="Continue Shopping" class="button btn-cart">
        <span>
            <span><?php echo Mage::helper('customer')->__('Continue Shopping')?>'</span>
        </span>
    </button>

</div>