<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>

<div class="page-head">
    <h3><?php echo $this->__('Your quote request has been cancelled') ?></h3>
</div>
<p><strong><?php echo $this->__("You're welcome to place a new Request for Quote") ?></strong></p>
<?php echo $this->__('You will receive a quote cancellation confirmation email.') ?><br/>
<div class="button-set">
    <button type="button" class="form-button" onclick="window.location='<?php echo $this->getUrl() ?>'">
        <span><?php echo Mage::helper('customer')->__('Continue Shopping') ?></span></button>
</div>