<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php if (Mage::getStoreConfig('qquoteadv_advanced_settings/quick_quote/quick_quote_mode') == "1"): ?>
    <div id="quickQuoteWrapper" style="display: none;">
        <div id="quickQuoteBack">
            &nbsp;
        </div>
        <div id="quickQuote">
            <div class="close-icon">
                <img src="<?php echo $this->getSkinUrl('images/qquoteadv/close-button.png'); ?>" alt="close"
                     onclick="$('quickQuoteWrapper').hide();"/>
            </div>
            <div class="qquote-client-collaterals">
                <div class="client-data">
                    <?php echo $this->getChildHtml('qquote.customer'); ?>
                    <?php echo $this->getChildHtml('qquote.checkbox.shipping.requireshippingquote'); ?>
                </div>
                <br/>
                <div class="qquote-cart-collaterals" <?php echo $this->getShippingBoxSettings(); ?> >
                    <div id="addressContainer" class="shipping-adress box">
                        <?php echo $this->getChildHtml('qquote.address.billing')?>
                        <?php echo $this->getChildHtml('qquote.address.shipping')?>
                        <?php echo $this->getChildHtml('qquote.checkbox.address')?>
                        <p class="required"><?php echo Mage::helper('sales')->__('* Required Fields') ?></p>
                    </div>
                </div>

                <div id="submit-quote-request">
                    <label for="submitOrder">You may request a quote without any obligations</label>
                    <?php echo $this->getChildHtml('qquote.submit.button'); ?>
                </div>
            </div>
        </div> <?php // END quickQuoteWrapper?>
    </div> <?php // END quickQuote ?>
<?php endif; ?>
<?php if (!$this->getDisableEmailCheck()): ?>
    <script type="text/javascript">
        //<![CDATA[
        function checkEmail(url, message){
            var elmEmail = $('customer:email');
            if (elmEmail) {
                Event.observe(elmEmail, 'change', function (event) {
                    isExistUserEmail(event, url, message)
                });
            }
        }
        checkEmail('<?php echo $this->getEmailErrorUrl(); ?>', '<?php echo $this->getEmailErrorMessage(); ?>');
        //]]>
    </script>
<?php endif; ?>
