<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php $productNames = $this->getProductNames(); ?>
<div id="lightbox1" class="leightbox">
    <form method="post" name="switchmode" id="switchmode"
          action="<?php echo $this->getUrl('qquoteadv/index/switch2Order', array('_secure' => true)) ?>">
        <br/>

        <div align="left" style="padding-left:45px;font-size:13px;">
            <h1><?php echo Mage::helper('sales')->__('Move to Shopping Cart').'?' ?></h1>

            <p>
                <?php echo $this->__('This quote list contains items that cannot ordered.') ?><br/>
                <?php echo $this->__('This item will be removed from the list if you continue:') ?>
            </p>

            <div align="left" style="padding-left:25px;font-size:12px; font-weight:bold;">
                <ul style="list-style: square outside;"><?php foreach ($productNames as $name) {
                        echo "<li>$name</li>";
                    } ?></ul>
            </div>
        </div>
        <div style="float:right; padding-right:50px; margin-bottom: 20px; margin-top: 20px;">
            <button type="button" class="button" onclick="cancelMsg();$('lightbox1').hide();"
                    title="<?php echo Mage::helper('sales')->__('Cancel') ?>">
                <span><span><?php echo Mage::helper('sales')->__('Cancel') ?></span></span></button>
            <button type="button" class="button" onclick="$('lightbox1').hide();$('switchmode').submit();"
                    title="<?php echo Mage::helper('sales')->__('Continue') ?>">
                <span><span><?php echo Mage::helper('sales')->__('Continue') ?></span></span></button>
        </div>
    </form>
</div>

<script type="text/javascript">
    var dataForm = new VarienForm('switchmode', true);
</script>