<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php /** @var $this Ophirah_Qquoteadv_Block_Qquote */ ?>
<?php if ($this->getQuote()->getData() == array()): ?>

    <div class="page-title">
        <h1><?php echo $this->__('Request for Quote') ?></h1>
    </div>
    <div class="cart-empty">
        <p><?php echo $this->__('No Items to display.'); ?></p>

        <p><?php echo Mage::helper('checkout')->__('Click <a href="%s">here</a> to continue shopping.', $this->getUrl()) ?></p>
    </div>

<?php else: ?>

    <?php $productNames = $this->getNotSalableProductNames($this->getQuote()); ?>

    <div class="page-title" style="height:55px;">
        <h3><?php echo $this->__('Request for Quote') ?></h3>
        <?php if ($this->displayAssignedTo()): ?>
            <div class="assigned-to">
                <?php if (Mage::helper('qquoteadv')->getAdminUser() !== null): ?>
                    <?php if ($this->isAssignPreviousEnabled()): ?>
                        <?php if ($this->helper('customer')->isLoggedIn()): ?>
                            <?php
                            $customerData = Mage::getSingleton('customer/session')->getCustomer();
                            echo $this->__('Quote will be assigned to <strong>%s</strong>', Mage::helper('qquoteadv')->getAdminUser(Mage::helper('qquoteadv')->getPreviousAssignedAdmin(null, $customerData->getId()))->getName()); ?>
                        <?php else: ?>
                            <?php echo $this->__('If the end user has no previous assigned sales representative the quote will be assigned to <strong>%s</strong>.', $this->getAdminUser()->getName()); ?>
                        <?php endif; ?>
                    <?php else: ?>
                        <?php echo $this->__('Quote will be assigned to <strong>%s</strong>', $this->getAdminUser()->getName()); ?>
                    <?php endif; ?>
                <?php endif; ?>
            </div>
        <?php endif; ?>
    </div>
    <?php echo $this->getMessagesBlock()->toHtml() ?>

    <form method='post' id="quotelist" name="quotelist"
          action='<?php echo $this->getUrl('qquoteadv/index/quoteRequest', array('_secure' => true)) ?>'>
        <?php if ($this->displayAssignedTo() && $this->getAdminUser() !== null): ?>
            <input type="hidden" name="user_id" value="<?php echo $this->getAdminUser()->getId(); ?>"/>
        <?php endif; ?>
        <table cellspacing="0" border="0" id="shopping-cart-table" class="data-table cart-table">
            <col width="30"/>
            <col width="75"/>
            <col/>
            <col width="10"/>
            <col width="250"/>
            <col width="60"/>
            <col width="60"/>
            <thead>
            <tr>
                <th class="a-center"><?php echo Mage::helper('sales')->__('Remove') ?></th>
                <th class="a-center">&nbsp;</th>
                <th><?php echo Mage::helper('sales')->__('Product Name') ?></th>
                <th>&nbsp;</th>
                <?php if(!Mage::getStoreConfig('qquoteadv_quote_form_builder/quote_form_remarks/disable_product_remark')): ?>
                    <th><?php echo $this->__('Request information') ?></th>
                <?php endif; ?>
                <th class="a-center"><?php echo Mage::helper('checkout')->__('Unit price') ?></th>
                <th class="a-center"><?php echo Mage::helper('sales')->__('Qty') ?> <span class="required">*</span></th>
            </tr>
            </thead>
            <tbody>
            <?php
            $i = 0;
            foreach ($this->getQuote() as $item):

                $product = $this->getProduct($item->getProductId());

                if ($product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_CONFIGURABLE) {
                    $childProduct = Mage::getModel('qquoteadv/qqadvproduct')->getConfChildProduct($item->getId());
                } else {
                    $childProduct = $product;
                }
                ?>
                <tr>
                    <td class="a-center">

                        <input type="hidden" id="quote_id" name="quote_id" value="<?php echo $item->getQuoteId() ?>">
                        <input type="hidden" class="input-text" name="quote[<?php echo $item->getId() ?>][product]"
                               value="<?php echo $item->getProductId(); ?>" size="3"/>
                        <input type="hidden" class="input-text"
                               name="quote_request[<?php echo $item->getId() ?>][product_id]"
                               value="<?php echo $item->getProductId(); ?>" size="6"/>
                        <a title="<?php echo Mage::helper('checkout')->__('Remove item') ?>"
                           href="<?php echo $this->getUrl('qquoteadv/index/delete', array('id' => $item->getId())); ?>"><img
                                src="<?php echo $this->getSkinUrl('images/btn_trash.gif') ?>" width="16" height="16"
                                alt="<?php echo Mage::helper('checkout')->__('Remove item') ?>"/></a>

                    </td>


                    <td><a class="product-image" href="<?php echo $this->getItemUrl($item); ?>"><img
                                src="<?php echo $this->helper('catalog/image')->init($childProduct, 'thumbnail', $item->getSmallImage())->resize(75); ?>"
                                alt="<?php echo $item->getName(); ?>"/></a>


                    </td>
                    <td class="attributes-col"><h4 class="title">
                            <?php if (1): //$product->hasProductUrl()):?>
                                <a href="<?php echo $this->getItemUrl($item); ?>"onclick="saveProductComment();"><?php echo $this->htmlEscape($product->getName()) ?></a>
                            <?php else: ?>
                                <?php echo $this->htmlEscape($product->getName()) ?>
                            <?php endif; ?>
                        </h4>

                        <?php
                            $quoteByProduct = Mage::helper('qquoteadv')->getQuoteItem($product, $item->getAttribute(), null, $item);

                            $qty = $quoteByProduct->getItemsQty();

                            // Select price with or without tax
                            if (Mage::getStoreConfig('tax/cart_display/price') == 2  ):
                                $_finalPrice = $quoteByProduct->getGrandTotal() / ($qty > 0 ? $qty : 1);
                            else:
                                $_finalPrice = $quoteByProduct->getSubtotal() / ($qty > 0 ? $qty : 1);
                            endif;


                        foreach ($quoteByProduct->getAllItems() as $_item) {
                            if ($_item->getProductId() == $product->getId()) {
                                echo $this->getItemHtml($_item);
                            }
                        }
                            ?>


                    </td>
                    <td>
                        <a href="<?php echo $this->getUrl('qquoteadv/index/configure', array('id' => $item->getId())) ?>" onclick="saveProductComment();"><?php echo Mage::helper('checkout')->__("Edit") ?></a>
                        <br/>
                    </td>
                    <?php
                        // Retrieve Customer Request data from session
                        $prod_request = "";
                        $placeHolder = true;
                        if($quoteData = $this->getCustomerSession()->getQuoteData()){
                            // Get Client Request
                            if(isset($quoteData['quote_request'][$item->getId()]['client_request'])){
                                $prod_request = trim($quoteData['quote_request'][$item->getId()]['client_request']);
                                if($prod_request != "" && $prod_request != null){
                                    $placeHolder = false;
                                }
                            }

                            // Set Product qty
                            if(isset($quoteData['quote_request'][$item->getId()]['qty']['0'])){
                                $item->setQty($quoteData['quote_request'][$item->getId()]['qty']['0']);
                            }
                        } else {
                            $prod_request = $this->getRemarks($item, false);
                            if($prod_request != "" && $prod_request != null){
                                $placeHolder = false;
                            }
                        }
                    ?>
                    <?php if(!Mage::getStoreConfig('qquoteadv_quote_form_builder/quote_form_remarks/disable_product_remark')): ?>
                        <td>
                           <?php if($placeHolder){?>
                                <div id="parent">
                                    <textarea name="quote_request[<?php echo $item->getId() ?>][client_request]" rows="10" style="width:98%;position:absolute;"><?php echo $prod_request; ?></textarea>
                                    <div id="comment" onclick="$('comment').hide(); $('textArea').focus();">
                                        <?php echo $this->__($this->getRemarks($item)) ?>
                                    </div>
                                </div>
                            <?php }else{ ?>
                                    <textarea name="quote_request[<?php echo $item->getId() ?>][client_request]" rows="4" style="width:98%;"><?php echo $prod_request; ?></textarea>
                            <?php } ?>
                        </td>
                    <?php endif; ?>
                    <td>
                        <?php if (Mage::helper('qquoteadv/not2order')->getShowPrice($product)): ?>
                            <?php echo Mage::helper('checkout')->formatPrice($_finalPrice) ?>
                        <?php endif; ?>
                    </td>
                    <td nowrap="nowrap">
                        <div id="qdiv_<?php echo $item->getId() ?>" nowrap="nowrap">
                            <input type="text"
                                   class="required-entry validate-zero-or-greater required-entry input-text loading"
                                   size="6"
                                   name="quote_request[<?php echo $item->getId() ?>][qty][]"
                                   value="<?php echo $item->getQty()*1; ?>"/>
                        </div>
                        <div>
                            <?php if ($this->getShowTrierOption()) : ?>
                                <a class="pad" href="#"
                                   onClick="addNewLine(<?php echo $item->getId() ?>, 'quote_request[<?php echo $item->getId() ?>][qty][]'); return false;"><?php echo $this->__('Add Qty') ?></a>
                            <?php endif; ?>
                        </div>
                        <input type="hidden" name="quote[<?php echo $item->getId() ?>][qty]"
                               value="<?php echo $item->getQty()*1; ?>" size="3"/>&nbsp;
                        <input type="hidden" name="quote[<?php echo $item->getId() ?>][attributeEncode]"
                               value="<?php echo base64_encode($item->getAttribute()) ?>"/>
                        <input type="hidden" name="quote[<?php echo $item->getId() ?>][product]"
                               value="<?php echo $product->getId() ?>"/>
                        <input type="hidden" name="quote[<?php echo $item->getId() ?>][quoteid]"
                               value="<?php echo $item->getId() ?>"/>
                    </td>
                </tr>
                <?php
                $i++;
            endforeach;
            ?>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="100" class="a-right">
                    <?php $action = "setLocation('" . $this->getUrl('qquoteadv/index/clearQuote') . "');"; ?>
                    <button type="button" onclick="<?php echo $action; ?>" title="<?php echo $this->__('Empty Quote') ?>"
                            class="button btn-empty" ><span><span><?php echo $this->__('Empty Quote') ?></span></span></button>

                    <?php $action = "setLocation('" . $this->getUrl('qquoteadv/index/save') . "');"; ?>
                    <button class="button btn-update" type="button" onclick="<?php echo $action; ?>" title="<?php echo $this->__('Update Quote') ?>">
                        <span><span><?php echo $this->__('Update Quote') ?></span></span></button>

                    <?php if ($this->getContinueShoppingUrl()): ?>
                        <button class="button btn-continue"
                                onclick="setLocation('<?php echo Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl()) ?>')" type="button">
                            <span><span><?php echo Mage::helper('customer')->__('Continue Shopping') ?></span></span></button>
                    <?php endif; ?>

                    <?php $action = "setLocation('" . $this->getUrl('qquoteadv/index/switch2Order') . "');";

                    if (count($productNames) > 0) {
                        $action = 'initMsg();';
                    }
                    ?>

                    <?php if ($this->getShowOrderReferences()) : ?>
                        <button type="button" onclick="<?php echo $action; ?>"
                                title="<?php echo Mage::helper('sales')->__('Move to Shopping cart') ?>"
                                class="button btn-update">
                            <span><span><?php echo Mage::helper('sales')->__('Move to Shopping cart') ?></span></span></button>
                    <?php endif; ?>
                </td>
            </tr>
            </tfoot>

        </table>
        <script type="text/javascript">decorateTable('shopping-cart-table')</script>
        <?php echo $this->getChildHtml('qquote.address'); ?>
    </form>

    <script type="text/javascript">
        //<![CDATA[
        var quotelistForm = new VarienForm('quotelist');

        function requestShippingProposal() {
            var elmEmail = $('customer:email');
            if (elmEmail.value) {
                // Send quotelist form to another action
                var quoteShipForm = document.getElementById('quotelist');
                // Reset isQuote to 2
                var isQuote = document.getElementById('customer_isQuote');
                isQuote.value = '2';
                quoteShipForm.action = '<?php echo $this->getUrl('qquoteadv/index/quoteShippingEstimate'); ?>';
                quoteShipForm.submit();

            }
        }

        //]]>
    </script>


<?php
//#show pop-up window
    if (count($productNames) > 0) {
        echo $this->getLayout()->createBlock("core/template")->setTemplate('qquoteadv/quote_lightbox.phtml')->setProductNames($productNames)->toHtml();
    }
    ?>


    <script language="javascript">

        var pool = new Array();

        function addNewLine(itemId, inputName) {
            if (!pool[itemId]) {
                pool[itemId] = 1;
            }

            index = pool[itemId];
            index++;
            pool[itemId] = index;

            var parentElemt = document.getElementById('qdiv_' + itemId);
            var childElem = document.createElement('div');
            childElem.setAttribute("id", 'div_' + itemId + '_' + index);
            parentDiv = 'div_' + itemId + '_' + index;
            inputField = 'quote_' + itemId + '_' + index;
            link = '&nbsp;&nbsp;<a style="text-decoration:none;" href="#"  onClick="removeElement(\'' + parentDiv + '\', \'' + inputField + '\'); $(\'' + parentDiv + '\').hide()"><img style="vertical-align: bottom;bottom;width:19px;height:18px;" src="<?php echo $this->getSkinUrl('images/minus-icon.png')?>"></a>';

            childElem.innerHTML = '<input size="6" type="text" name="' + inputName + '"  id="quote_' + itemId + '_' + index + '" value=""  class="required-entry validate-zero-or-greater required-entry input-text m5">' + link;

            parentElemt.appendChild(childElem);
        }

        function removeElement(parentElemt, childElemt) {
            var parentDiv = document.getElementById(parentElemt);
            var childElemt = document.getElementById(childElemt);
            parentDiv.removeChild(childElemt);
        }

        function saveProductComment(action){
            var quoteForm = document.getElementById('quotelist');
            quoteForm.action = '<?php echo $this->getUrl('qquoteadv/index/storeQuote/'); ?>' + action;
            quoteForm.submit();
        }

        //add form field observers
        document.observe('dom:loaded', function(){
            $$('#shopping-cart-table textarea').each(function (el) {
                return $(el).observe('blur', function(e){
                    saveForm();
                });
            });


            $$('#shopping-cart-table input[type=text]').each(function (el) {
                return $(el).observe('blur', function(e){
                    saveForm();
                });
            });
            <?php if(!Mage::getStoreConfig('qquoteadv_quote_form_builder/quote_form_remarks/disable_general_remark')): ?>
            $('customer:client_request').observe('blur', function(e){
                saveForm();
            });
            <?php endif; ?>
        });

        function saveForm() {
            var form = $('quotelist').clone(true);
            //update textarea
            var i = 0;
            $('quotelist').select('textarea').each(function (el) {
                form.select('textarea')[i].value = $(el).value;
                i++;
            });

            var action = $('quotelist').action;
            action = action.replace("quoteRequest", "save");
            form.action = action;
            form.request();
        }
    </script>
<?php endif; ?>
