<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>

<?php $quote = $this->getData('quote'); ?>
<div class="page-title">
    <h1><?php echo $this->__('Your quote request has been received') ?></h1>
</div>
<p><strong><?php echo $this->__('Thank you for your interest!') ?></strong></p>
<?php if ($this->Helper('customer')->isLoggedIn()): ?>
    <p><?php echo $this->__('Your quote request # is: %s.', sprintf('<a href="%s">%s</a>', Mage::getUrl('qquoteadv/view/view', array('id' => $quote->quote_id)), $this->escapeHtml($quote->increment_id))) ?></p>
<?php else : ?>
    <p><?php echo $this->__('Your quote request # is: %s.', $this->escapeHtml($quote->increment_id)) ?></p>
<?php endif; ?>
<?php echo $this->__('You will receive a quote confirmation email with a link to track progress.') ?><br/>
<br/>
<div class="buttons-set">
    <button class="button" type="button" onclick="window.location='<?php echo $this->getContinueShoppingUrl() ?>'">
        <span><span><?php echo Mage::helper('customer')->__('Continue Shopping') ?></span></span></button>
</div>
