<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<div id="attachment_view">
    <ul>
        <?php foreach($this->getAttachments() as $att): ?>
        <li class="attachment_single">
            <img src="<?php echo $this->getSkinUrl('images/crmaddon/doc.png') ?>" height="14px" width="14px">
            <a download="<?php echo $this->getField($att, 'text'); ?>" href="<?php echo $this->getItemLink($this->getField($att, 'text')); ?>">
                <span title="<?php echo $this->getField($att, 'text'); ?>" >
                    <?php echo $this->getSmallText($this->getField($att, 'text'), 9); ?>
                </span>
            </a>
        </li>
        <?php endforeach; ?>
    </ul>
</div>

