<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */

 // CRM Send button
$button = $this->getLayout()->createBlock('adminhtml/widget_button');
if (!isset($createHash)) {
    $createHash = null;
}
if (!Mage::helper('qquoteadv/license')->validLicense('CRMaddon', $createHash)) {
    $class = 'disabled';
    $button->setOnclick("event.preventDefault();");
} else {
    $class = 'save';
    $onclick = "$('loading-mask').show(); sendMessage(event);";
    $button->setOnclick($onclick);
}
$button->setLabel($this->__('Submit Comment'));
$button->setClass($class);
?>

<fieldset>
    <div class="crm_sentMsg"></div>
    <?php echo $button->_toHtml(); ?>
</fieldset>
