<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php if ($_options = $this->getOptionList()): ?>
    <?php if (is_array($_options)) : ?>
        <dl style="margin:0; padding:0;">
            <?php foreach ($_options as $_option) : ?>
                <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                <dt><strong><em><?php echo $this->htmlEscape($_option['label']) ?></em></strong></dt>

                <?php if (isset($_option['print_value'])) : ?>
                    <dd style="margin:0; padding:0 0 0 9px;"><?php echo $this->htmlEscape($_option['print_value']) ?></dd>
                <?php else: ?>
                    <dd style="margin:0; padding:0 0 0 9px;"><?php echo $_formatedOptionValue['value'] ?>
                        <?php if (isset($_formatedOptionValue['full_view'])): ?>
                            <div>
                                <dl style="margin:0; padding:0;">
                                    <dt><strong><em><?php echo $this->htmlEscape($_option['label']) ?></em></strong>
                                    </dt>
                                    <dd style="margin:0; padding:0 0 0 9px;"><?php echo $_formatedOptionValue['full_view'] ?></dd>
                                </dl>
                            </div>
                        <?php endif; ?>
                    </dd>
                <?php endif; ?>
            <?php endforeach; ?>
        </dl>
    <?php endif; ?>
<?php endif; ?>


