<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<div class="add-to-cart">
    <?php $_product = $this->getProduct(); ?>
    <?php $buttonTitle = $this->__('Update Quote'); ?>
    <?php if (Mage::helper('qquoteadv')->isEnabled()): ?>
        <?php if ($_product->getData('allowed_to_quotemode') == 1): ?>
            <span style="float: left; padding-right: 2px;">&nbsp;</span>

            <?php if (!$_product->isGrouped()): ?>
                <label for="qty"><?php echo Mage::helper('catalog')->__('Qty:') ?></label>
                <input type="text" name="qty" id="qty" maxlength="12"
                       value="<?php echo $this->getProductDefaultQty() * 1 ?>" title="<?php echo Mage::helper('catalog')->__('Qty') ?>"
                       class="input-text qty"/>
            <?php endif; ?>
            <?php $actionQuote = "productAddToCartForm.submit(this)"; ?>
            <button type="button" title="<?php echo $this->__("Update Quote"); ?>" class="button btn-cart"
                    onclick="<?php echo $actionQuote; ?>">
                <span><span><?php echo $this->__("Update Quote"); ?></span></span></button>

        <?php endif; ?>
    <?php endif; ?>
</div>