<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<p>
    <?php
    $ratesList = array();

    if (count(Mage::getSingleton('customer/session')->getData('quoteRatesList')) > 0) {
        echo $this->__('Shipping Estimate') . '<br />';
        $ratesList = Mage::getSingleton('customer/session')->getData('quoteRatesList');
        echo "<select id='shipping_method' name='customer[shipping_method]'>";
        foreach ($ratesList as $rate) {
            echo '<option value="' . $rate['value'] . '">' . $rate['option'] . '</option>';
        }
        echo "</select>";

        Mage::getSingleton('customer/session')->unsetData('quoteRatesList');
        Mage::getSingleton('customer/session')->unsetData('quotecustomer');
    }
    ?>
</p>
