<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php
$chkShipHidden = Mage::getStoreConfig('qquoteadv_quote_form_builder/options/hide_shipping_quote');
if ($chkShipHidden) {
    $chkShipType = 'display: none;';
} else {
    $chkShipType = '';
}
?>
<div style="float:right; padding-top: 20px;  <?php echo $chkShipType; ?>">
    <input style="display:none;" type='submit' onclick="requestShippingProposal();"
           name='submitShipRequest'
           id="submitShipRequest" class='form-button'
           value="<?php echo $this->__('Request quote') ?>"/>
    <button
        onclick="$('submitShipRequest').click();event.preventDefault();  event.stopPropagation();"
        class="button btn-estimate" id="shipEstimates"
        title="<?php echo $this->__('Get Shipping Estimates') ?>" type="button">
        <span><?php echo $this->__('Get Shipping Estimates') ?></span>
    </button>
</div>
