<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Cart2Quote
 * @package     Fakepro
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 * @version     1.0.5
 */
?>

<?php if ($product->getSku() == Ophirah_Fakepro_Helper_Data::PRODUCT_SKU): ?>
    <?php
    $superAttribute = Mage::helper('qquoteadv')->getSimpleOptions($product, unserialize($item->getAttribute()));
    if($superAttribute){
        foreach ($superAttribute as $option => $value) {
            switch($option){
                case Ophirah_Fakepro_Helper_Data::NAME:
                    $name = $value;
                    break;
                case Ophirah_Fakepro_Helper_Data::DESCRIPTION:
                    $description = $value;
                    break;
                case Ophirah_Fakepro_Helper_Data::SKU:
                    $sku = $value;
                    break;
                default; // do nothing
            }
        }
    } else {
        $name = $this->htmlEscape($product->getName());
        $description = '';
        $sku = $this->htmlEscape($product->getSku());
    }
    ?>

    <tr>
        <td align="left" valign="top" style="padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
            <strong style="font-size:11px;"><?php echo $name ?></strong>
            <?php if ($description): ?>
                <dl style="margin:0; padding:0;">
                    <dd style="margin:0; padding:0 0 0 9px;">
                        <?php echo (!empty($description)) ? $description : nl2br($this->escapeHtml($description)) ?>
                    </dd>
                </dl>
            <?php endif; ?>
        </td>
        <td align="left" valign="top"
            style="padding:3px 9px; border-bottom:1px dotted #CCCCCC;"><?php echo $sku ?></td>
        <?php
        $reqData = $this->getRequestedProductData($item->getId(), $item->getQuoteId());
        $prices = $reqData['ownerPrices'];
        $aQty = $reqData['aQty'];
        ?>
        <td align="center" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
            <?php if (count($aQty)): ?>
                <?php foreach ($aQty as $key => $value): ?>
                    <div style="height:25px;" align="center"><?php echo $value; ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </td>
        <td align="center" valign="top" style="font-size:11px; padding:3px 9px;  border-bottom:1px dotted #CCCCCC;">
            <?php if (count($prices)): ?>
                <?php foreach ($prices as $key => $value): ?>
                    <div style="height:25px;"><?php echo Mage::helper('checkout')->formatPrice($value); ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
        </td>
        <?php $merge = array_combine($aQty, $prices); ?>
        <td align="right" valign="top" style="font-size:11px; padding:3px 9px; border-bottom:1px dotted #CCCCCC;">
            <?php foreach ($merge as $qty => $price): ?>
                <?php $total = Mage::helper('checkout')->formatPrice($qty * $price); ?>
                <div style="height:25px;"><?php echo $total; ?></div>
            <?php endforeach; ?>
        </td>
    </tr>
<?php endif; ?>