<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */

// Setting variables
$_product = $this->getProduct();
$url = $this->helper('qquoteadv/catalog_product_data')->getUrlAdd2QquoteadvById($_product->getId());
$action = $this->helper('qquoteadv/catalog_product_data')->getAddToQuoteAction($_product->getId());
?>

<?php if ($_product->isSaleable()): ?>
    <?php if (!$this->isHideAddToQuoteButton()): ?>
        <div class="add-to-cart-buttons">
            <button type="button" title="<?php echo Mage::helper('qquoteadv')->__("Add to Quote"); ?>"
                    class="button btn-cart btn-quote" onclick="<?php echo $action; ?>">
                <span>
                    <span><?php echo Mage::helper('qquoteadv')->__("Add to Quote"); ?></span>
                </span>
            </button>
        </div>
    <?php endif; ?>
    </div>
<?php else: ?>
    <div class="add-to-cart">
        <?php if (!$this->isHideAddToQuoteButton() && $_product->getStockItem()->getIsInStock()): ?>
            <?php if (!$_product->isGrouped() && (!$_product->isSaleable() || $this->isHideAddToCartButton() === true)): ?>
                <div class="qty-wrapper">
                    <label for="qty"><?php echo Mage::helper('catalog')->__('Qty:'); ?></label>
                    <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12"
                           value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>"
                           title="<?php echo Mage::helper('catalog')->__('Qty') ?>" class="input-text qty"/>
                </div>
                <script>removeFormUrl("<?php echo $url; ?>")</script>
            <?php endif; ?>
            <div class="add-to-cart-buttons">
                <button type="button" title="<?php echo Mage::helper('qquoteadv')->__("Add to Quote"); ?>"
                        class="button btn-cart btn-quote" onclick="<?php echo $action; ?>">
                    <span><span><?php echo Mage::helper('qquoteadv')->__("Add to Quote"); ?></span></span></button>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>
