<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php $hideAddToCartButton = Mage::getConfig()->getModuleConfig('Ophirah_Not2Order')->is('active', 'true') && $this->getProduct()->getData('quotemode_conditions') > 0 ? Mage::helper('not2order')->autoHideCartButton(Mage::helper('qquoteadv')->hideQuoteButton($this->getProduct())) : false; ?>
<?php $_product = $this->getProduct();?>
<?php $buttonTitle = Mage::helper('catalog')->__('Add to Cart'); ?>

<div class="add-to-cart">
    <?php if ($_product->isSaleable() && $hideAddToCartButton === false && $_product->getStockItem()->getIsInStock()): ?>
        <?php if (!$_product->isGrouped()): ?>
            <div class="qty-wrapper">
                <label for="qty"><?php echo Mage::helper('catalog')->__('Qty:') ?></label>
                <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12"
                       value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>" title="<?php echo Mage::helper('catalog')->__('Qty') ?>"
                       class="input-text qty"/>
            </div>
        <?php endif; ?>

        <div class="add-to-cart-buttons">
            <button type="button" title="<?php echo $buttonTitle ?>" class="button btn-cart"
                    onclick="productAddToCartForm.submit(this)"><span><span><?php echo $buttonTitle ?></span></span>
            </button>
        </div>
    <?php endif; ?>
    <?php echo $this->getChildHtml('', true, true) ?>
