<!--@subject {{var quote.getStoreGroupName()}}: New Quote request # {{var quote.increment_id}} @-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="email-heading">
                        <h1>Hello,</h1>

                        <p>You have recieved a quote request from {{var customer.name}} for the website {{var
                            store.getFrontendName()}}.<br/>

                            <a href="{{var quoteUrl}}" style="color:#1E7EC8;">View quote request</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="quote-details">
            <h3>Quote Request<span class="no-link">#{{var
                                quote.increment_id}}</span></h3>

            <p>Placed on {{var quote.getCreatedAtFormated('long')}}</p>
        </td>
    </tr>
</table>


