<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account"><?php echo Mage::helper('customer')->__('Account Information') ?></h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">

            <table class="form-list" cellspacing="0">
                <tbody>
                <?php $name = $this->getCustomerName($quoteModel->getData('customer_id')); ?>
                <?php //$name = $this->helper('qquoteadv')->getBillingName($quote); ?>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('customer')->__('Customer Name') ?></label></td>
                    <td class="value">
                        <?php if ($_customerUrl = $this->getCustomerViewUrl($quoteModel->getData('customer_id'))) : ?>
                            <a href="<?php echo $_customerUrl ?>"
                               target="_blank"><strong><?php echo $this->htmlEscape($name) ?></strong></a>
                        <?php else: ?>
                            <strong><?php echo $this->htmlEscape($name) ?></strong>
                        <?php endif; ?>
                    </td>
                </tr>

                <?php $company = $quoteModel->getData('company') ?>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('customer')->__('Company') ?></label></td>
                    <td class="value"><strong><?php echo $company ?></strong></td>
                </tr>

                <?php $email = $quoteModel->getData('email') ?>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('customer')->__('Email') ?></label></td>
                    <td class="value"><a href="mailto:<?php echo $email ?>"><strong><?php echo $email ?></strong></a>
                    </td>
                </tr>
                <?php $tel = $quoteModel->getData('telephone') ?>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('customer')->__('Telephone') ?></label></td>
                    <td class="value"><strong><?php echo $tel ?></strong></td>
                </tr>

                <tr>
                    <td class="label"><label><?php echo Mage::helper('customer')->__('Customer Group') ?></label></td>
                    <td class="value">
                        <strong><?php echo $this->getCustomerGroupName($quoteModel->getData('customer_id'), $quoteModel->getCustomerGroupId()) ?></strong>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
