<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php
if($this->extraFieldsAreAvailable()){
    $extraFieldsCount = Mage::helper('qquoteadv')->getNumberOfExtraFields();
    ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo Mage::helper('customer')->__('Extra Fields') ?></h4>
        </div>
        <div class="fieldset">
            <div class="hor-scroll">
                <table class="form-list" cellspacing="0">
                    <tbody>
                    <?php
                    for($fieldNumber = 1; $fieldNumber <= $extraFieldsCount; $fieldNumber++) {
                        if ($this->isExtraFieldSet($fieldNumber)) { ?>
                            <tr>
                                <td class="label">
                                    <label><?php echo $this->getFieldLabel($fieldNumber); ?></label>
                                </td>
                                <td class="value">
                                    <strong><?php echo $this->getFieldData($fieldNumber) ?></strong>
                                </td>
                            </tr>
                        <?php
                        }
                    }?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php
} ?>