<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<?php $ordersList = Mage::helper('qquoteadv')->getOrderByC2Q($quoteModel->getData('quote_id'), $quoteModel->getData('store_id')); ?>
<?php if (count($ordersList) > 0) : ?>
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account"><?php echo $this->__('Linked Orders') ?></h4>
        </div>
        <div class="fieldset">
            <div class="hor-scroll">

                <table class="form-list" cellspacing="0">
                    <tbody>
                    <tr>
                        <td class="label"><label><?php echo Mage::helper('sales')->__('Purchase Order Number:') ?></label></td>
                        <td class="value"><strong><?php

                                foreach ($ordersList as $orderId => $orderIncrementId) {
                                    $str = Mage::helper('sales')->__('Order #%s', $orderIncrementId);
                                    $link = $this->getUrl('adminhtml/sales_order/view', array('order_id' => $orderId));
                                    echo '<a href="' . $link . '" >' . $str . '</a><br />';
                                }

                                ?></strong></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
<?php endif ?>
