<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
$fileHtml = $this->getAllFilesToHtml();
?>
<script type="text/javascript">
    var fileRowNumber = 0;
</script>

<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Attach Files to Proposal Email') ?></h4>
</div>

<div class="grip np ">
    <div class="fieldset">
        <?php if($fileHtml): ?>
        <table cellspacing="0" id="filesOnQuote" class="form-list" border="0">
            <tbody>
                <tr>
                    <th style="width:150px; vertical-align:middle;"><?php echo $this->__('File') ?></th>
                    <th style="width:85px; vertical-align:middle;"><?php echo $this->__('Extension') ?></th>
                    <th style="width:40px; vertical-align:middle;"><?php echo $this->__('Remove') ?></th>

                </tr>
                <?php
                    // Displays multiple lines
                    echo $fileHtml;
                ?>
            </tbody>
        </table>
        <br/>
        <hr/>
        <br/>
        <?php endif; ?>
        <table cellspacing="0" id="fileUpload" class="form-list" border="0">
            <thead>
                <tr>
                    <th style="width:175px; vertical-align:middle;"><?php echo $this->__('Title') ?></th>
                    <th style="width:40px; vertical-align:middle;"><?php echo $this->__('File') ?></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="vertical-align:middle;">
                        <input maxlength="150" class="file_title" id="file_title_0" name="file_title_0" type="text" style="min-width: 150px;" />
                    </td>
                    <td style="vertical-align:middle;">
                        <input id="file_path_0" type="file" name="file_path_0" oninput="newUploadRow()" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr onclick="newUploadRow(fileRowNumber)" style="cursor: pointer;">
                    <td>
                        <span style="margin-top:20px;" >
                        <a ><p><i><?php echo $this->__('Add more files...') ?></i></p></a>
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



