<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account"><?php echo $this->__('Quote # %s', $quoteModel->getData('increment_id') ? $quoteModel->getData('increment_id') : $quoteModel->getData('quote_id')) ?>
        </h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <table class="form-list" cellspacing="0">
                <tbody>
                <tr>
                    <td class="label"><label><?php echo Mage::helper('adminnotification')->__('Last Update') ?></label></td>
                    <td class="value">
                        <strong><?php echo $this->formatDate($quoteModel->getData('updated_at'), 'medium', true) ?></strong>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo $this->__('Quote Status') ?></label></td>
                    <td class="value">
                        <strong>
                                <span id="quote_status">
                                    <?php
                                    $substatus = ($quoteModel->getData('substatus')) ? $quoteModel->getData('substatus') : '';
                                    $status = Mage::getModel('qquoteadv/substatus')->getCurrentStatus($quoteModel->getData('status'), $substatus);
                                    $disabled = ($quoteModel->getData('status') == Ophirah_Qquoteadv_Model_Status::STATUS_PROPOSAL_SAVED) ? 'disabled' : '';
                                    echo '<select ' . $disabled . ' name="status" >';
                                    foreach (Mage::getModel('qquoteadv/status')->getOptionArray(true) as $k => $v):
                                        $selected = ($status == $v) ? "selected = selected" : '';
                                        echo '<option value="' . $k . '" ' . $selected . '>' . $v . '</option>';
                                    endforeach;
                                    echo '</select>';
                                    ?>
                                </span>
                        </strong>
                    </td>
                </tr>
                <tr>
                    <td class="label"><label><?php echo $this->__('RFQ From') ?></label></td>
                    <td class="value">
                        <strong><?php echo $this->getStoreViewInfo($quoteModel->getData('store_id')); ?></strong></td>
                </tr>
                <?php if($quoteModel->getRelationChildId()): ?>
                    <tr>
                        <td class="label"><label><?php echo Mage::helper('qquoteadv')->__('Link to the New Quote') ?></label></td>
                        <td class="value">
                            <?php $childQuoteIds = $quoteModel->getRelationChildRealIds();
                            foreach($childQuoteIds as $childQuoteId => $childQuoteIncrementId): ?>
                            <a href="<?php echo $this->getUrl('*/qquoteadv/*', array('id' => $childQuoteId)) ?>">
                                <?php echo $childQuoteIncrementId ?>
                            </a>&nbsp;
                            <?php endforeach; ?>
                        </td>
                    </tr>
                <?php endif; ?>
                <?php if($quoteModel->getRelationParentId()): ?>
                    <tr>
                        <td class="label"><label><?php echo Mage::helper('qquoteadv')->__('Link to the Previous Quote') ?></label></td>
                        <td class="value"><a href="<?php echo $this->getUrl('*/qquoteadv/*', array('id' => $quoteModel->getRelationParentId())) ?>">
                                <?php echo $quoteModel->getRelationParentRealId() ?>
                            </a></td>
                    </tr>
                <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
