<?php
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2016] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2016 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 *
 *
 * This is the template file of the form fields.
 * The file is rendered two times:
 *      1. Shipping details
 *      2. Billing details
 * The form_type variable will contain 'shipping' or 'billing'. The fields will contain the ID referring to this form type.
 *
 * @block Ophirah_Qquoteadv_Block_Form_Checkbox_Address
 */
$parent = $this->getParentBlock();
?>

<?php if (!$this->isCustomerLoggedIn()): ?>
    <?php
    $chkShipTypeState = '';
    $chkShipTypeDisplay = '';
    $chkShipTypeDisplayNone = false;
    $chkShipHidden = Mage::getStoreConfig('qquoteadv_quote_form_builder/options/hide_shipping_quote');

    //deside if checkbox is hidden input
    if ($chkShipHidden) {
        $chkShipType = 'hidden';
    } else {
        $chkShipType = 'checkbox';
    }

    //force checked and hidden when shipping rates are available
    if (count(Mage::getSingleton('customer/session')->getData('quoteRatesList')) > 0) {
        $chkShipType = 'checkbox';
        $chkShipTypeState = 'checked';
        $chkShipTypeDisplay = 'display: none;';
        $chkShipTypeDisplayNone = true;
    }
    ?>
    <div>
        <?php if (!$this->getRequiredShipping() && !$this->getRequiredBilling()): ?>
            <input
                name="address[specifyShippingAddress]"
                value="1"
                style="<?php echo $chkShipTypeDisplay; ?>"
                id="address:specifyShippingAddress"
                type="<?php echo $chkShipType; ?>"
                onclick="getShippingAddressAction(this); setSpecifyShippingAddress();"
                <?php echo ' '.$chkShipTypeState; ?>
            >
            <?php if (!$chkShipHidden && !$chkShipTypeDisplayNone):
                echo $this->__('Request a shipping quote');
            endif; ?>
            <input id='address:notSpecifyShippingAddress' type='hidden' value='0' name='address[specifyShippingAddress]'>
            <script>
                setSpecifyShippingAddress();
                function setSpecifyShippingAddress(){
                    if(document.getElementById("address:specifyShippingAddress").checked) {
                        document.getElementById('address:notSpecifyShippingAddress').disabled = true;
                    }else{
                        document.getElementById('address:notSpecifyShippingAddress').disabled = false;
                    }
                }
            </script>
        <?php endif; ?>
    </div>
<?php endif; ?>


